/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');

.turbolinks-progress-bar {
    visibility: hidden;
  }

.selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}

.text-xss{
    font-size: 10px;
    line-height: 15px;
}


